#Ignore the following files and the bin folder in cg
*.o
bmark/sweep/sweep3d-2.2b/sweep
.*.swp
bmark/NAS/bin/bt*
bmark/NAS/bin/cg*
bmark/NAS/bin/dt*
bmark/NAS/bin/ep*
bmark/NAS/bin/ft*
bmark/NAS/bin/is*
bmark/NAS/bin/lu*
bmark/NAS/bin/mg*
bmark/NAS/bin/sp*
bmark/irs/patki/irs-build/*
rapl/libmsr/lib/librapl.so
rapl/libmsr/turbo
rapl/libmsr/rapl_clamp
rapl/libmsr/libmsr.so 
bmark/rapl-dummy/rapl-dummy
dummy-tmp/*
