[submodule "sphot_v1.0"]
	path = sphot_v1.0
	url = ssh://tpatki@lec.cs.arizona.edu/home/pbailey/code/GreenMPI.src.master/sphot_v1.0
[submodule "bmark/sphot"]
	path = bmark/sphot
	url = ssh://tpatki@lec.cs.arizona.edu/home/pbailey/code/GreenMPI.src.master/sphot_v1.0
