#Ignore the following files and the bin folder in cg
*.o
#sweep
bmark/NAS/bin/bt*
bmark/NAS/bin/cg*
bmark/NAS/bin/dt*
bmark/NAS/bin/ep*
bmark/NAS/bin/ft*
bmark/NAS/bin/is*
bmark/NAS/bin/lu*
bmark/NAS/bin/mg*
bmark/NAS/bin/sp*
rapl/libmsr/lib/librapl.so
rapl/libmsr/turbo
rapl/libmsr/rapl_clamp
rapl/libmsr/libmsr.so 
